@import './vars.scss';
@import './functions.scss';

* {
  box-sizing: border-box;
}

@mixin center-center() {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin full-full {
  width: 100vw;
  height: 100vh;
}

@mixin back-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.title {
  font-family: niveau-grotesk-small-caps, sans-serif;
  @include multi(font-size, 30px, 30px, 30px, 40px);
  font-weight: 900;
}

.subtitle {
  color: $soft_brown;
  @include multi(font-size, 20px, 20px, 15px, 20px);
  @include multi(margin-bottom, 1rem, 1rem, 1rem, 1rem);
  font-weight: bold;
}

.opacity-text {
  opacity: 0.5;
}

.center-center {
  @include center-center();
}

.main-button-container {
  @include center-center();
  @include multi(flex-direction, row, row, column, column);
  @include multi(align-items, center, center, flex-start, flex-start);
  .main-button {
    background: rgb(150, 73, 34);
    background: linear-gradient(
      184deg,
      rgba(150, 73, 34, 1) 0%,
      rgba(100, 34, 0, 1) 100%
    );
    padding: 1rem;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    @include multi(font-size, 0.8rem, 0.8rem, 0.8rem, 1rem);
    box-shadow: 1px 1px 10px black;
  }
}
