@import "./vars.scss";
@import "./functions.scss";

* {
  box-sizing: border-box;
}

@mixin center-center() {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin full-full {
  width: 100vw;
  height: 100vh;
}

@mixin back-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.title{
  font-family: niveau-grotesk-small-caps, sans-serif;
  @include multi(font-size, 30px, 30px, 30px, 40px);
  font-weight: 900;
}
.subtitle{
  color: $soft_brown;
  @include multi(font-size, 20px, 20px, 15px, 20px);
  @include multi(margin-bottom, 1rem, 1rem, 1rem, 1rem);
  font-weight: bold;
}

.opacity-text{
  opacity: 0.5;
}